.item-nohu {
    border-radius: 10px;
    height: auto;
    padding: 0;
    transition: all 0.3s ease;
    max-width: calc(33.33% - 10px);
    box-sizing: border-box;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
}